.User-Edit-Form{
    background-color: white;
    border-radius: 1pc;
}
.Inputfield{
    background-color: aliceblue;
}
.example-full-width {
    width: 100%;
}

.example-half-width {
    width: 50%;
}

.DialogRing{
    padding: 1em 2em 5px 2em;
    width: 600px;
    max-width: 600px;
}