
<form action="" (click)="OnSubmit()">
    <h1 *ngIf="Edit">Wijziging van hoofdstuk</h1>
    <h1 *ngIf="!Edit">Aanmaken van hoofdstuk</h1>
    <!--Titel hoofdstuk-->
    <mat-form-field class="example-full-width" appearance="fill">
        <label for="Titel">Titel hoofdstuk</label>
        <input matInput required>
    </mat-form-field>

    <!--Hoofdstuk nummer-->
    <mat-form-field class="example-full-width" appearance="fill">
        <label for="HoofdstukNr">Titel hoofdstuk</label>
        <input matInput required>
    </mat-form-field>

    <!--Pagina afbeeldingen input-->
    <mat-form-field class="example-full-width" appearance="fill">
        <input 
        placeholder="Upload de thumbnail van je verhaal."
        class="ImagePoster example-full-width" 
        type="file"
        id="file"
        (change)="PublishImage($event)"
        name="Thumbnail"
        [(ngModel)]="ChapterForm!.ChapterPage"
        #Thumbnail="ngModel"
        required>
    </mat-form-field>
    <div class="imageForms">
        
    </div>

</form>
<pre>
    {{ ChapterForm | json}}
</pre>
<div *ngIf="warning.length > 0" class="warning">
    {{warning}}
</div>