<mat-card class="Card">
    <mat-card-header class="Card-Title">
        <mat-card-title><a routerLink="/Users/{{User!._id}}">{{User!.UserName}}</a></mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/staticImages/Placeholder Image.png" height="150" width="230">
    <mat-card-actions>
        <button class="ImportantBtn" *ngIf="LoggedIn$ | async" mat-raised-button (click)="Follow(User?._id!)" [disabled]="IsDisabled">
            <span *ngIf="IsFollowed">
                Min
            </span>
            <span *ngIf="!IsFollowed">
                Volg
            </span>
        </button>
        <button class="DetailBtn" mat-raised-button routerLink="/Users/{{User!._id}}">Details</button>
    </mat-card-actions>
</mat-card>