<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'">
    <mat-toolbar><img src="assets/staticImages/LogoAllesKast.png" height="30" width="30">De Lade</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="Home">Home</a>
      <a mat-list-item routerLink="Story">Series</a>
      <a mat-list-item routerLink="Users">Gebruikers</a>
      <a mat-list-item routerLink="AboutUs">Over ons</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="NavBar">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <a routerLink="Home"><img src="assets/staticImages/LogoAllesKast.png" height="22" width="22"></a>
      <span>AllesKast</span>
      <span class="example-spacer"></span>
      <button mat-icon-button>
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-upload" viewBox="0 0 16 16">
          <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
          <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
        </svg><br/>
        Upload
      </button>
      <app-profile-dropdown></app-profile-dropdown>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
