

<div class="Bordered">
    <h2>{{Pagina}}</h2>
    <form action="" method="get">
        <div>
            <label for="Username">Gebruikersnaam</label>
            <input type="text" name="Username" for="Username" id="Userfield">
        </div>

        <div>
            <label for="Email">Emailadres</label>
            <input type="email" for="Email" name="Email" id="EmailField">
        </div>

        <div>
            <label for="Birthdate">Geboortedatum</label>
            <input type="date" for="Birthdate" name="Birthdate" id="BirthdateField">
        </div>

        <div>
            <label for="Password">Wachtwoord</label>
            <input type="password" name="Password" id="PasswordField" for="Password">
        </div>

        <div>
            <label for="PasswordConfirmation">Wachtwoord bevestiging</label>
            <input type="password" name="PasswordConfirmation" id="PasswordConfirmationField" for="Password">
        </div>

        <button type="submit" (click)="onSubmit()">Bevestig</button>
    </form>
</div>
