<article>
    <section>
        <h2 tabindex="0">Over ons</h2>
        <p tabindex="0">Op deze pagina zal de documentatie van de client-side applicatie weergeven worden. 
            De about-me pagina bevat een casusbeschrijving, om te laten zien wat deze applicatie doet. 
            Het bevatten ook alle user stories die de casus bevatten, zodat men een goed beeld krijgt wat de functionaliteiten van deze applicatie inhouden.
            Daarnaast zal er ook een ERD weergeven worden, waarmee men kan afleiden hoe de databehoeften van de applicatie verzorgt worden. 
            Naast het ERD, worden ook de entiteiten van de applicatie weergeven met datatype</p>
    </section>
    <section class="persoonlijk">
        <h3>Persoonlijke gegevens</h3>
        <p>Student: Xin Wang</p>
        <p>Studentnummer: 2154458</p>
        <p>Studentenemail: xx.wang@student.avans.nl</p>
        <p>Vak: Client-Side webprogramming</p>
        <p>Opmerkingen: De frontend is gebouwd in de Angular-framework en een Css-framework voor de styling. Backend is gebouwd in NestJS met als database MongoDB en Neo4j.</p>
    </section>
    <section>
        <h3 tabindex="0">Casus</h3>
        <p tabindex="0">Voor deze casus, is er besloten om een client-side applicatie te ontwikkelen waarmee mensen strips kunnen publiceren en lezen. 
            Binnen deze applicatie kunnen mensen vehalen volgen zodat men de nieuwste hoofdstukken niet missen. 
            Deze hoofdstukken bevatten strippagina.
            Mensen kunnen ook andere gebruikers volgen en daarmee aanbevelingen ontvangen.
        Het doel van deze applicatie is om een laagdrempelige manier aan te bieden om hun eigen strips te publiceren en zo hun creativiteit te kunnen uiten.</p>

        <h4 tabindex="0">User stories</h4>
        <p tabindex="0">
            De applicatie streeft ernaar om de volgende functionaliteiten te voldaan.</p>
            <ol>
                <li>Als gebruiker wil ik de mogelijkheid hebben om een nieuwe verhaal te publiceren, waarmee lezers het verhaal kan lezen.</li> 
                <li>Als gebruiker wil ik voor een verhaal een nieuw hoofdstuk plaatsen, zodat andere gebruikers dit hoofdstuk kunnen lezen.</li>
                <li>Als gebruiker wil ik andere gebruikers volgen, zodat ik weet wat zij lezen.</li>
                <li>Op basis van de leeslijst van mijn gevolgde gebruikers, wil ik graag een lijst van nieuwe aanbevelingen willen ontvangen, zodat ik de applicatie mij verhalen kan aanbieden die ik leuk vind.</li>
                <li>Als gebruiker wil ik een opmerking kunnen plaatsen, zodat andere mensen weten wat ik ervan vindt.</li>
                <li>Als gebruiker wil ik een verhaal kunnen volgen, zodat ik de nieuwste hoofdstukken van het verhaal niet mis.</li>
                <li>Als gebruiker wil ik voor ieder hoofdstuk een cijfer geven, zodat men weet wat ik van het hoofdstuk vond.</li>
            </ol>

    </section>
    
    <section>
        <h3 tabindex="0">Datamodel</h3>
        <img src="assets/staticImages/ERD.png" alt="Afbeelding van het ERD" tabindex="0" aria-label="ERD van de casus">
        <figcaption tabindex="0">Het ERD van deze casus</figcaption>
        <p tabindex="0"> Binnen deze applicatie is een ERD getekend met daarin vijf entiteiten. 
            Aan de hand van dit ERD, laat het alle informatie van ieder entiteit zien.
            Uit het ERD kan er ook eruit gehaald worden wat voor informatiebehoeftes bevredigd worden en wat de functionaliteiten zijn.
            Hieronder zijn alle entiteiten zoals uit het ERD in detail weergeven.</p>
        <div class="Entity">
            <div class="EntityTitle">
                <h4 tabindex="0">Gebruiker</h4>
            </div>
            <div class="EntityContent">
                <ul>
                    <li tabindex="0">Id, bson</li>
                    <li tabindex="0">Naam, string</li>
                    <li tabindex="0">Emailadres, string</li>
                    <li tabindex="0">Geboortedatum, date</li>
                    <li tabindex="0">Wachtwoord, string</li>
                    <li tabindex="0">Rol, string</li>
                </ul>
            </div>
            <div class="EntityNotes">
                <p tabindex="0">Een gebruiker zal een naam, emailadres, geboortedatum, wachtwoord en rol bezitten. 
                    Naam zal voor en achternaam bevatten.
                    Emailadres zal uniek moeten zijn.
                    Wachtwoord zal bij het aanmaken daarvan standaard gehashed worden. 
                    Een rol zal standaard regulier zijn. 
                    Op de admin na dan. Die zal een admin rol krijgen.
                </p>
            </div>
        </div>

        <div class="Entity">
            <div class="EntityTitle">
                <h4 tabindex="0">Verhaal</h4>
            </div>
            <div class="EntityContent">
                <ul>
                    <li tabindex="0">Id, bson</li>
                    <li tabindex="0">Titel, string</li>
                    <li tabindex="0">Datum, date</li>
                    <li tabindex="0">Volwassen, boolean</li>
                    <li tabindex="0">Genres, string</li>
                    <li tabindex="0">Verhaalbeschrijving, string</li>
                </ul>
            </div>
            <div class="EntityNotes">
                <p tabindex="0">Een verhaal zal door een gebruiker gepubliceerd worden en kan op zichzelf bestaan.
                    Het bezit een titel, datum van publicatie, volwassen, genres en een verhaalbeschrijving. 
                    Binnen deze applicatie bevat een verhaal voor deze casus 1 genre. Dit zal weergeven worden als een string array.</p>
            </div>
        </div>

        <div class="Entity">
            <div class="EntityTitle">
                <h4 tabindex="0">Hoofdstuk</h4>
            </div>
            <div class="EntityContent">
                <ul>
                    <li tabindex="0">Id</li>
                    <li tabindex="0">Titel, string</li>
                    <li tabindex="0">Publicatiedatum, date</li>
                    <li tabindex="0">Hoofdstuk, number</li>
                </ul>
            </div>
            <div class="EntityNotes">
                Een hoofdstuk bevat een titel, hoofdstuk nummer en publicatiedatum. Hoofdstuk nummer begint automatisch op 1. 
                <p tabindex="0">Een Hoofdstuk is een zwakke entiteit binnen een verhaal entiteit. </p>
            </div>
        </div>
        <div class="Entity">
            <div class="EntityTitle">
                <h4 tabindex="0">Strippagina</h4>
            </div>
            <div class="EntityContent">
                <ul>
                    <li tabindex="0">Strip, binary</li>
                </ul>
            </div>
            <div class="EntityNotes">
                <p>
                    Een strippagina is een zwakke entiteit binnen een hoofdstuk entiteit. 
                    Dit zal in de database weergeven worden als een array met binaries.
                    In het geval dat het me niet lukt om meerdere afbeeldingen tegelijkertijd te uploaden, 
                    dan zal het in de implementatie als een enkele attribuut weergeven worden.</p>
            </div>
        </div>
        <div class="Entity">
            <div class="EntityTitle">
                <h4 tabindex="0">Opmerking</h4>
            </div>
            <div class="EntityContent">
                <ul>
                    <li tabindex="0">Id</li>
                    <li tabindex="0">Titel, string</li>
                    <li tabindex="0">Content, string</li>
                    <li tabindex="0">Datum, date</li>
                </ul>
            </div>
            <div class="EntityNotes">
                <p tabindex="0"> Een opmerking bevat een titel, content met daarin de reactie in tekst en een publicatiedatum. publicatiedatum zal automatisch in de applicatie verwerkt worden.
                    Een opmerking is een zwakke entiteit van een Verhaal entiteit. </p>
            </div>
        </div>
    </section>
</article>