.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.NavBar{
  background-color:#6B4D00 ;
  color: #FDF0C7;
}

.example-spacer {
  flex: 1 1 auto;
}


.backGround{
  background-color:#FDF0C7 ;
}
.mat-drawer-container {
  background-color: #FDF0C7;
  min-height: 100vh;
}