<div class="container">

    <h1>{{story?.Title}}</h1>
    
    <div class="row">
        <div class="col-3">
            <img src="{{story!.Thumbnail?.Base64Image}}" alt="Comic-Afbeelding" srcset="" height="450" width="300">
            <div class="Edit buttons">
                <div *ngIf="Editable$ | async">
                    <h3>Verhaalinstelling</h3>
                    <button mat-raised-button class="ImportantBtn m-1"  routerLink="/Story/{{story?.StoryId}}/Edit">Edit</button>
                    <app-story-btn [SId]="story?.StoryId"></app-story-btn>
                </div>
                
            </div>
        </div>
        <div class="col-8">
            <BackBtn></BackBtn>
            <article class="Shadow">
                <h2>Verhaallijn</h2>
                <p>{{story?.StoryLine}}</p>
            </article>
            <article class="Shadow">
                <h2>Overige informatie</h2>
                <p>Publicatiedatum: {{story?.PublishDate}}</p>
                <div *ngIf="story?.IsAdultOnly">
                    <p>Volwassen: Ja</p>
                </div>
            
                <div *ngIf="!story?.IsAdultOnly">
                    <p>Volwassen: Nee</p>
                </div>
            </article>
            <div class="chapterSection">
                <!--For loop door hoofdstukken-->
                <h2>Hoofdstukken</h2><a *ngIf="Editable$ | async"  mat-button routerLink="Chapter/Add">Toevoegen</a>
                
                <app-chapter-list [IsLoggedIn]="Editable$" [ChapterList]="story!.ChapterList" [Story]="story!"></app-chapter-list>
            </div>
            <div>
                <h2>Comments</h2>
                <button class="ImportantBtn" mat-raised-button (click)="MakeComment()">Reageer</button>
                <div class="row FlexBox">
                    <div  class="Comment Shadow" *ngFor="let comment of story?.Comments">
                        <div class="Content">
                            <h3 class="Text-Center">{{comment.Title}}</h3>
                                <div class="Own content">
            
                                </div>
                                <p class="m-1">Gebruiker: {{comment.UserId}}
                                <br/>{{comment.Content}}
                                <br/>{{comment.PublishDate!}}</p>
                            <button mat-button class="Hidden-Btn" (click)="EditComment(comment.CommentId!)">Wijzig</button>
                            <button mat-button class="Hidden-Btn"(click)="DeleteComment(comment.CommentId!)">Verwijderen</button>
                        </div>        
                    </div>
                </div>
                
            </div>
    </div>
    
    

    
    
    
    

    
    
