<div>

    <h1>Verhaal Aanmaken/Wijzigen</h1>
    <form action="" method="post">
        <div>
            <label for="Title">Titel</label>
            <input type="text" name="Title" id="TitleComic">
        </div>
        
        <div>
            <label for="StoryLine">Verhaallijn</label>
            <input type="text" name="StoryLine" id="TitleComic">
        </div>
        
        <div>
            <label for="IsAdultOnly">18+?</label>
            <input type="checkbox" name="IsAdultOnly" id="IsAdultOnlyId" value=true>
        </div>
        
        <div>
            <label for="Genre">Genres</label>
            <input type="text" name="Genre" id="GenreId">
        </div>
        <button type="submit" (click)="OnSubmit()">Toevoegen</button>
    </form>
 
</div>