<mat-card class="Card">
    
    <img mat-card-image class="CardImage" src="{{Story!.Thumbnail?.Base64Image}}" height="390">
    <mat-card-header class="Card-Title">
        <mat-card-title><a routerLink="/Story/{{Story!.StoryId}}">{{Story!.Title}}</a></mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <button class="ImportantBtn" mat-raised-button>Volg</button>
        <button class="DetailBtn" mat-raised-button routerLink="/Story/{{Story!.StoryId}}">Details</button>
    </mat-card-actions>
</mat-card>