
<div class="row">
    <h2>Andere gebruikers</h2>
    <div class="FlexBox">

        <div *ngFor="let Users of RecommendedUserList">
            <app-user-card [User]="Users"></app-user-card>
        </div>
        
    </div>
</div>
    <div class="row ">
        <h2>Verhalen</h2>
        <div class="FlexBox">

            <div *ngFor="let Story of StoryList">
                <app-story-card [Story]="Story"></app-story-card>
            </div> 
        </div>
    </div>
    <div class="row" >
        <h2>Aanbevelingen</h2>
        <div class="FlexBox">
            <div *ngFor="let Story of RecommendedList">
            <app-story-card [Story]="Story"></app-story-card>
        </div>
        </div>
        
    </div>
    
