<mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <h3>Hoofdstukken</h3>
    </mat-expansion-panel-header>
    <mat-expansion-panel hideToggle *ngFor="let Chapter of ChapterList;" class=" m-1">
        <mat-expansion-panel-header class="Expanded">
            <h3>{{Chapter.ChapterTitle}}</h3>
        </mat-expansion-panel-header>
        Datum: {{Chapter.PublishDate}}<br/>
        <button mat-raised-button class="ImportantBtn">Bekijk</button>
        <a mat-raised-button class="RegularBtn" routerLink="Chapter/{{Chapter.ChapterId}}/Edit">Wijzig</a>
        <app-chapter-delete [StoryId]="Chapter.StoryId" [ChapterId]="Chapter.ChapterId"></app-chapter-delete>
    </mat-expansion-panel>
</mat-expansion-panel>
