
<!-----Algemeen----->
<!-----Stripcatalogus----->
<!----- => Detail van strip----->
<!----- => => Strip ----->
<!-----Aboutme----->
<nav>
    <ul class="Bordered">
        <li><a routerLink="Home">Home</a></li>
        <li><a routerLink="StoryList">Series</a></li>
        <li><a href="">Volgers</a></li>
        <li><a routerLink="AboutUs">Over ons</a></li>
    </ul>
    
    <ul class="Bordered">
        <li><a routerLink="Home">Upload</a></li>
        <li><a >Series</a></li>
        <li><a>Profiel</a></li>
        <ul>
            <li><a routerLink="Login">Inloggen</a></li>
            <li><a>Mijn gevolgde verhalen</a></li>
            <li><a>Mijn volgers</a></li>
            <li><a>Mijn verhalen</a></li>
            <li><a routerLink="Logout">Uitloggen</a></li>
        </ul>
    </ul>
</nav>

<!-----Stripuploaden----->

<!-----Profiel----->
<!----- => Profiel----->
<!----- => Gevolgde strips----->
<!----- => Eigen strips----->