
<!-----Algemeen----->
<!-----Stripcatalogus----->
<!----- => Detail van strip----->
<!----- => => Strip ----->
<!-----Aboutme----->
<ul class="Bordered">
    <li><a routerLink="Home">Home</a></li>
    <li><a routerLink="StoryList">Series</a></li>
    <li><a routerLink="AboutUs">Over ons</a></li>
</ul>

<ul class="Bordered">
    <li><a routerLink="Home">Upload</a></li>
    <li><a >Series</a></li>
    <li><a>Profiel</a></li>
</ul>
<!-----Stripuploaden----->

<!-----Profiel----->
<!----- => Profiel----->
<!----- => Gevolgde strips----->
<!----- => Eigen strips----->