article{
    background-color: white;
    padding: 1em;
}
section{
    padding: 1em;
}

h2, h3, h4{
    border-bottom: #355570 solid 2px;
}

.Persoonlijk{
    border: #355570 2px solid;
    background-color: #FFA82E;
    color: #355570;
    border-radius: 1pc;
    margin-left: 1em;
}

.Entity{
    margin: 1em;
    border: 1px solid;
}

.EntityTitle{
    text-align: center;
}

.EntityContent{
    text-align: left;
    text-decoration: none;
}

.EntityContent > ul > li {
    list-style-type:square;
}

.EntityNotes{
    text-align: center;
    
}
.Image{
 width: 100%;
 border: #355570 3px solid;
}
.EntityNotes p{
    font-size: smaller;
    padding: 10px;
    text-align: start;
}

table{
    border: #355570 1px solid;
}

th{
    background-color: #355570;
    color: #FFA82E;
    padding: 1em;
}

td{
    border: #355570 1px solid;
    padding: 5px;
    color: #355570;
}