
<div class="container">
  <div class="Shadow User-Edit-Form flex">
    <div class="row">
        <BackBtn></BackBtn>
      <h2 class="col-12">{{Pagina}}</h2>
        
       <form 
       class="col-12 example-form"
    #UserForm="ngForm"
    name="userForm"
    (ngSubmit)="onSubmit()"
    novalidate>

    <p>
        <mat-form-field appearance="fill" class="example-full-width">
            <label for="UserName">Gebruikersnaam</label>
            <input  matInput color="primary"
            type="text" 
            name="Username" 
            for="UserName" 
            id="Userfield"
            [(ngModel)] = 'User!.UserName'
            #UserName = "ngModel"
            minlength=6
            required>
        </mat-form-field>
    </p>
        
<p>
    <mat-form-field appearance="fill"  class="example-full-width">
        <label for="Email">Emailadres</label>
        <input  matInput 
        type="email" 
        for="Email" 
        name="Email" 
        id="EmailField"
        [(ngModel)]='User!.Email'
        #Email="ngModel"
        required
        >
    </mat-form-field>
</p>
<p>
    <mat-form-field  appearance="fill" class="example-full-width">
        <mat-label>Geboortedatum</mat-label>
        <input matInput [matDatepicker]="picker" [(ngModel)]="User!.DateOfBirth" #Birthdate="ngModel" name="Birthdate" required> 
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
</p>
        
        <!--Password change may be moved to another component-->
        <p *ngIf="!IsEdit">
            <mat-form-field appearance="fill" class="example-full-width">
                <label for="Password">Wachtwoord</label>
                <input  matInput 
                
                type="password" 
                name="Password" 
                id="PasswordField" 
                for="Password"
                [(ngModel)]="User!.Password"
                #Password="ngModel"
                minlength="10"
                required
                >
            </mat-form-field>
        </p>
        <p *ngIf="IsEdit">
            <mat-form-field appearance="fill" class="example-full-width">
                <label for="Password">Nieuw wachtwoord</label>
                <input  matInput 
                
                type="password" 
                name="Password" 
                id="NewPasswordField" 
                for="Password"
                [(ngModel)]="User!.PasswordConfirmation"
                #NewPasswordField="ngModel"
                minlength="10"
                required
                >
            </mat-form-field>
        </p>

        <button type="submit" class="ImportantBtn" mat-raised-button [disabled]="!UserForm.valid">Bevestig</button>
    </form> 
    
    </div>
    
</div>  
</div>

