<div class="Bordered">
    <div class="Bordered">
        <h2>Verhalen</h2>
        <div *ngFor="let Story of StoryList">
            <span>{{ Story.Title }}</span>
            <span> {{ Story.IsAdultOnly }}</span>
            <span>{{Story.GetRating()}}</span>
            <a routerLink="/Story/{{Story.Id}}/Detail">Bekijk</a>
        </div> 
    </div>
    <div class="Bordered" >
        <h2>Aanbevelingen</h2>
        <div *ngFor="let Story of RecommendedList">
            <span>{{ Story.Title }}</span>
            <span> {{ Story.IsAdultOnly }}</span>
            <span>{{Story.GetRating()}}</span>
            <a routerLink="/Story/{{Story.Id}}/Detail">Bekijk</a>
        </div>
    </div>
    <div class="Bordered">
        <h2>Volgen</h2>
        <div *ngFor="let Users of RecommendedUserList">
            <span>{{ Users.Name }}</span>
        </div>
        
    </div>
</div>
