<div class="Bordered">
    <div class="Bordered">
        <h2>Verhalen</h2>
        <div *ngFor="let items of StoryList">
            <span>{{ items.name }}</span>
            <span> {{ items.Nr}}</span>
            <span>{{items.country}}</span>
            <a routerLink="Story/{{items.Nr}}">Bekijk</a>
        </div> 
    </div>
    <div class="Bordered" >
        <h2>Aanbevelingen</h2>
        <div *ngFor="let items of RecommendedList">
            <span>{{ items.name }}</span>
            <span> {{ items.Nr}}</span>
            <span>{{items.country}}</span>
            <a routerLink="Story/{{items.Nr}}">Bekijk</a>
        </div>
    </div>
    <div class="Bordered">
        <h2>Volgen</h2>
        <div *ngFor="let items of RecommendedUserList">
            <span>{{ items }}</span>
        </div>
        
    </div>
</div>
