.Login{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 3em;
}

.Register{
    background-color: white;
    padding: 2em;
    width: 30%;
    
    border-radius: 1pc;
    margin-bottom: 2em;
}

button{
    padding: 2px 2em  2px 2em;
}

.InputField{
    width: 100%;
}

.LoginForm{
    padding: 2em;
    background-color: white;
    width: 30%;
    border-radius: 1pc;
}

.example-full-width {
    width: 80%;
  }