
                <button *ngIf="authService.IsLoggedIn$ | async" class="ImportantBtn" mat-raised-button (click)="MakeComment()">Reageer</button>
                <div class="row FlexBox">
                    <div  class="Comment Shadow" *ngFor="let comment of Comments">
                        <div class="Content">
                            <h3 class="Text-Center">{{comment.Title}}</h3>
                                <div class="Own content">
            
                                </div>
                                <p class="m-1">Gebruiker: {{comment.Username}}
                                <br/>{{comment.Content}}
                                <br/>{{comment.PublishDate!}}</p>
                                <span *ngIf="Authorized(comment.UserId) | async">
                                    <button mat-button class="Hidden-Btn" (click)="EditComment(comment.CommentId!)">Wijzig</button>
                                    <button mat-button class="Hidden-Btn"(click)="DeleteComment(comment.CommentId!)">Verwijderen</button>
                                </span>
                        </div>        
                    </div>
                </div>